/linux
/debug
/papers
/kernels
/names
/sample_codes
/captures
/morton_filter_cpp
/filters_python/__pycache__
/filters_python/debug
debug.txt
/xdp_code/filters/output.txt
/xdp_code/filters/morton_512_3_8/objdump.txt
/xdp_code/filters/cuckoo/*
*.o
*.ll
/.vscode
/xdp_code/filters/objdump.txt
/images
/bench_results
/xdp_code/filters/all_names/cuckoo
/xdp_code/filters/ntua_names/cuckoo
/xdp_code/filters/all_names/bloom/control
/xdp_code/filters/ntua_names/bloom/control
/xdp_code/filters/ntua_names/xor8
/captures.ods
/all_captures.ods
*lock*